certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ek9yztvu3/croot/certifi_1665076692562/work/certifi
peewee==3.15.3
pyaes==1.6.1
Pyrogram==2.0.59
PySocks==1.7.1
TgCrypto==1.2.4
